/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
    
}

body{
    background:#f5f5f5;
    color: #E3B837;
    overflow-x:hidden;
}

/* Navbar */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 110px;
    padding: 15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;

    background: linear-gradient(90deg, #1f2937, #374151);
    backdrop-filter:blur(15px);

    transition:0.4s ease;
}

/* Scroll Effect */
.navbar.scrolled{
    background: linear-gradient(90deg, #1f2937, #374151);
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    padding:15px 8%;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color: white;
    font-size:28px;
    font-weight:700;
}
.logo img{
    height: 160px;  /* smaller than navbar height */
    width: auto;
    display: block;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color: white;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    position:relative;
    transition:0.3s;
}

/* Animated Underline */
.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:3px;
    background: #E3B837;
    transition:0.4s;
}

.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}

.nav-links a:hover{
    color: #E3B837;
}

.quote-btn{
    background: #E3B837;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:30px;
    font-weight:600;
    transition:0.3s;
}

.quote-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(244,180,0,0.4);
}
.empty
{
    background-color: white;
    height: 50px;
}
/* Hero Section */
.hero{
    height:100vh;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
    url("../assets/construction-2.avif")
    center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background-color: #E3B837;
    color:white;
    padding:14px 35px;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-5px);
    background-color: #C89D22;
}

/* Statistics */
.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    padding:80px 8%;
    background:white;
}

.stat-box{
    text-align:center;
    padding:35px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.4s;
}

.stat-box:hover{
    transform:translateY(-10px);
}

.stat-box h2{
    color: #E3B837;
    font-size:42px;
}


/* FULL SECTION BACKGROUND IMAGE */
/* SECTION LAYOUT */
.why-chola {
    display: flex;
    min-height: 100vh;
    background: white;
}

/* LEFT IMAGE */
.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.left-side img {
    width: 90%;
    height: 90%;
    object-fit: cover;

    border-radius: 60% 40% 40% 60% / 50% 60% 40% 50%;

    transition: 0.4s ease;
}
/* IMAGE HOVER ZOOM (DYNAMIC EFFECT) */
.left-side:hover img {
    transform: scale(1.05);
}

/* RIGHT CONTENT BOX */
.right-side {
    flex: 1;
    background: transparent;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TITLE */
.right-side h2 {
    font-size: 38px;
    color: #E3B837;
    margin-bottom: 30px;
}

/* GRID */
.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* FEATURE CARD */
.feature {
    background: #ffffff;
    border: 1px solid #eee;
    padding: 18px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;

}

/* HOVER EFFECT (SLIDE + LIFT) */
.feature:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-color: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
}

/* ICON ANIMATION */
.feature i {
    font-size: 24px;
    color: linear-gradient(90deg, #1f2937, #374151);
    margin-bottom: 10px;
    transition: 0.3s;
}

.feature:hover i {
    transform: rotate(10deg) scale(1.1);
    color: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
}

/* TEXT */
.feature h3 {
    margin-bottom: 6px;
    font-size: 16px;
}

.feature p {
    font-size: 13px;
    color: #555;
}

/* smooth animation base */

/* when visible */
.feature.show {
    opacity: 1;
    transform: translateY(0);
}

/* click / active effect */
.feature.active {
    transform: scale(1.03);
    border-color: #E3B837;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
/* RESPONSIVE */
@media (max-width: 900px) {
    .why-chola {
        flex-direction: column;
    }

    .left-side {
        height: 300px;
    }

    .right-side {
        padding: 30px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }
}

.social-bar {
    position: fixed;
    right: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    z-index: 1000;
}

/* ICON BUTTON */
.social-bar a {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;
    color: #E3B837;
    

    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    font-size: 18px;

    transition: all 0.3s ease;
}

/* HOVER EFFECT */
.social-bar a:hover {
    transform: translateY(-6px) scale(1.1);
    background: #C89D22;
    color: #fff;
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
/* ICON ANIMATION */
.social-bar a i {
    transition: 0.3s ease;
}

.social-bar a:hover i {
    transform: rotate(10deg);
}

.social-bar a .fa-whatsapp {
    animation: pulse 1.8s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

/* OPTIONAL TOOLTIP STYLE (future upgrade ready) */
.social-bar a::after {
    content: "";
    position: absolute;
    left: 60px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    transition: 0.3s;
}

.social-bar a:hover::after {
    opacity: 1;
}

/* Services */
.services{
    padding:90px 8%;
    text-align:center;
    background: white;
}

.services h2{
    font-size:40px;
    margin-bottom:50px;
    color: #E3B837;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:40px 25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.4s;
}

.card:hover{
    transform:translateY(-12px);
}

.card i{
    font-size:50px;
    color: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
    margin-bottom:20px;
}
 .tools-icon{
    color: linear-gradient(90deg, #1f2937, #374151);
}

.card h3{
    margin-bottom:15px;
    color: black;
}

.card p{
    margin-bottom:15px;
    color: black;
}

/* Projects */
.projects{
    padding:90px 8%;
    background:#fff;
}

.projects h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;

}

.project{
    position:relative;
    overflow:hidden;
    border-radius:15px;
}

.project img{
    width:100%;
    display:block;
    height: 250px;
    transition:.5s;
}

.project:hover img{
    transform:scale(1.1);
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:.4s;
}

.project:hover .overlay{
    opacity:1;
}
.process-section{
    padding:100px 8%;
    background: white;
    text-align:center;
}

.process-section h2{
    color: #E3B837;
    font-size:2.8rem;
    margin-bottom:60px;
}

.process-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:60px 0;
}

.step{
    width:220px;
    min-height:250px;
    padding:35px 20px;
    color:#fff;
    position:relative;
    z-index:2;

    opacity:.4;
    transform:scale(.9);

    animation:flow 7s infinite;
}
.step:not(:last-child)::before{
    content:'➜';
    position:absolute;
    right:-18px;
    top:50%;
    transform:translateY(-50%);
    color:#E3B837;
    font-size:22px;
    z-index:5;
    background:#E3B837;
    overflow:hidden;
     border-radius:10px;
}
.step:not(:last-child)::after{
    content:'';
    position:absolute;
    top:50%;
    left:100%;
    width:30px;
    height:4px;
    background:#C89D22;
    transform:translateY(-50%);
     animation:arrowMove 2s linear infinite;
}
.step:nth-child(1){ animation-delay:0s; }
.step:nth-child(2){ animation-delay:1s; }
.step:nth-child(3){ animation-delay:2s; }
.step:nth-child(4){ animation-delay:3s; }
.step:nth-child(5){ animation-delay:4s; }
.step:nth-child(6){ animation-delay:5s; }
.step:nth-child(7){ animation-delay:6s; }
.step:nth-child(1){ background:#E3B837; }
.step:nth-child(2){ background:#E3B837; }
.step:nth-child(3){ background:#E3B837; }
.step:nth-child(4){ background:#E3B837; }
.step:nth-child(5){ background:#E3B837; }
.step:nth-child(6){ background:#E3B837; }
.step:nth-child(7){ background:#E3B837; }

@keyframes arrowMove{
    0%{
        opacity:.3;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:.3;
    }
}
@keyframes flow{
    0%,100%{
        opacity:.4;
        transform:scale(.9);
        box-shadow:none;
    }

    10%,15%{
        opacity:1;
        transform:scale(1.08);
        box-shadow:
        0 0 25px #E3B837,
        0 0 45px #C89D22;
    }

    16%,99%{
        opacity:.4;
        transform:scale(.9);
    }
}
.step:hover{
    transform:translateY(-12px) scale(1.05);
}

.step i{
    font-size:35px;
    margin-bottom:15px;
}

.step span{
    position:absolute;
    top:15px;
    right:15px;
    font-size:1.8rem;
    font-weight:bold;
    opacity:.25;
}

.step h3{
    margin:15px 0;
}

.step p{
    font-size:14px;
    line-height:1.7;
}

.hexagon{
    background:linear-gradient(
    135deg,
    #E3B837,
    #C89D22);
    clip-path:polygon(
    25% 6%,
    75% 6%,
    100% 50%,
    75% 94%,
    25% 94%,
    0% 50%);
}


/* Calculator */
.estate-section {
    padding: 60px 20px;
    background: white;
    text-align: center;
    font-family: Arial;
}

.estate-section h2 {
    color: black;
    margin-bottom: 20px;
}

.map-box {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.map-box h3{
    color: #000;
}

.map-box p{
    color: #000;
}

#map {
    height: 300px;
    border-radius: 10px;
    border: 2px solid #E3B837;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    max-width: 900px;
    margin: 20px auto;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: left;
}

.card label{
    color: #000;
}
.card input,
.card select {
    width: 100%;
    padding: 10px;
    border: 2px solid #E3B837;
    border-radius: 6px;
}

button {
    padding: 12px 25px;
    border: none;
    background: #E3B837;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.estimate-layout{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
    align-items:start;
}



.result-card{
    background:linear-gradient(
135deg,
#0b2c3d,
#1a3f54,
#c9a227
);

border-top:6px solid #d4af37;
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,.1);
    border-radius:25px;
    padding:30px;
    color:#fff;
    opacity:0;
    transform:translateY(20px);
    transition:.4s;
    box-shadow:
    0 20px 40px rgba(0,0,0,.1);
   
}


.result-card.active{
    opacity:1;
    transform:translateY(0);
}
.result-header{
    text-align:center;
    margin-bottom:25px;
}

.result-header i{
    font-size:35px;
    color:#E3B837;
    margin-bottom:10px;
}

.result-price{
    font-size:2.5rem;
    font-weight:700;
    text-align:center;
    color:#E3B837;
    margin-bottom:25px;
}

.cost-item{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    padding:12px 0;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.estimate-note{
    margin-top:20px;
    font-size:14px;
    color:#d9d9d9;
    line-height:1.6;
}
.result {
    margin-top: 25px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
@media(max-width:768px){

    .estimate-layout{
        grid-template-columns:1fr;
    }

    .result-card{
        position:static;
    }

}

/* Testimonials */
.testimonials{
    padding:100px 10%;
    background: white;
    text-align:center;
}

.testimonials h2{
    font-size:2.8rem;
    color:#0b2c3d;
    margin-bottom:50px;
}

.testimonial-slider{
    position:relative;
    max-width:800px;
    margin:auto;
}

.testimonial-card{
    display:none;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    animation:fade .5s ease;
}

.testimonial-card.active{
    display:block;
}

.testimonial-card img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #E3B837;
    margin-bottom:15px;
}

.stars{
    color:#f4b400;
    font-size:22px;
    margin-bottom:15px;
}

.testimonial-card p{
    font-size:17px;
    line-height:1.8;
    color:#555;
    margin-bottom:20px;
}

.testimonial-card h4{
    color:#0b2c3d;
    margin-bottom:5px;
}

.testimonial-card span{
    color:#E3B837;
}

.testimonial-dots{
    margin-top:25px;
}

.dot{
    height:12px;
    width:12px;
    border-radius:50%;
    background: #001a4d;
    display:inline-block;
    margin:0 5px;
    cursor:pointer;
}

.dot.active{
    background: #E3B837;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* CTA */
.cta{
    
    color:#E3B837;
    text-align:center;
    padding:90px 20px;
    background-color: white;
}

.cta h2{
    margin-bottom:30px;
    font-size:42px;
}
.cta p{
    color: #000;
    text-align: justify;
}
.story-section {
    padding: 80px 10%;
    background: white;
}

.story-container {
    display: flex;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    
}

.story-image{
    flex:1;
    height:auto;
}

.story-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:15px;
    display:block;
}

.story-content {
    flex: 1;
}

.story-content h2 {
    font-size: 36px;
    color: #E3B837;
    margin-bottom: 15px;
}

.story-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #E3B837;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

/* Footer */
/* ================= FOOTER ================= */
.footer {
    background: linear-gradient(90deg, #1f2937, #374151);
    color: white;
    padding: 50px 20px 20px;
    position: relative;
    font-family: Arial;
}

/* GRID */
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

/* HEADINGS */
.footer h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

/* TEXT */
.footer p {
    font-size: 14px;
    line-height: 1.6;
    color: #cfd8ff;
}

/* LIST */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #cfd8ff;
    cursor: pointer;
}

.footer ul li:hover {
    color: #E3B837;
}

/* SOCIAL */
.socials {
    margin-top: 10px;
}

.socials a {
    display: inline-block;
    margin-right: 8px;
    background: white;
    color: #001a4d;
    padding: 6px 10px;
    border-radius: 50%;
    font-size: 14px;
}

/* BOTTOM BAR */
.footer-bottom {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 15px;
    font-size: 13px;
    color: #cfd8ff;
}

/* FLOAT BUTTON */
.floating-estimate {
    position: fixed;
    bottom: 20px;
    right: 80px;
    background: white;
    color: #001a4d;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* WHATSAPP BUTTON */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #E3B837;
    color: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .floating-estimate {
        right: 70px;
        bottom: 80px;
    }
}

/* Dark Mode */
body.dark{
    background:#121212;
    color:white;
}

body.dark .card,
body.dark .stat-box,
body.dark .testimonial{
    background: linear-gradient(90deg, #1f2937, #374151);
    color:white;
}

/* Responsive */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero-content h1{
        font-size:38px;
    }

    .hero-content p{
        font-size:16px;
    }

    .services h2,
    .projects h2,
    .testimonials h2,
    .calculator h2,
    .cta h2{
        font-size:30px;
    }
}